*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    height: 300px;
    background-color: brown;
    text-align: center;
    font-size: 2rem;
    color: antiquewhite;
}
@media screen and (width <= 400px) {
    h1{
        font-size: 20px;
    }
}
@media screen and (width >= 400px) and (width <= 900px) {
    h1{
        font-size: 28px;
    }
}
@media screen and (width >= 900px) {
    h1{
        font-size: 36px;
    }
}